* {
  padding: 0;
  margin: 0;
}

.helpdesk-login {
  display: flex;
  height: 100vh;
  text-align: center;
}

.lgn-left-side {
  width: 50%;
  background-image: url('../../assets/img/img-1.jpg');
  background-repeat: no-repeat;
  align-items: center;
  object-fit: cover;
  background-size: 100% 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lgn-left-side h2 {
  font-size: 60px;
}

.lgn-right-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cee6f3;
}

.lgn-right-side p {
  padding-bottom: 20px;
  text-align: left;
}

.lgn-input {
  width: 380px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
}

.btn-login {
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #8be8e5;
  text-align: center;
}

.fgs-logo {
  border-radius: 20px;
  opacity: 0.5;
}

.regist-p {
  font-weight: bold;
}

.regist-p:hover {
  color: white;
  transition: all in ease 0.5;
}
