* {
  padding: 0;
  margin: 0;
}

.helpdesk-login {
  display: flex;
  height: 100vh;
  text-align: center;
}

.lgn-left-side {
  width: 50%;
  background-image: url('../../assets/img/fgs-product.jpeg');
  background-repeat: no-repeat;
  align-items: center;
  /* object-fit: cover; */
  background-size: 100% 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px 0;
  padding: 20px;
}

.lgn-left-side h2 {
  font-size: 50px;
}

.lgn-right-side {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ecf2ff;
}

.lgn-right-side-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 410px;
}

.fgs {
  border-radius: 5px;
  /* remove background image */
  mix-blend-mode: multiply;
  padding: 20px 0;
}

.lgn-right-side p {
  padding-bottom: 20px;
  text-align: left;
}

.lgn-input {
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
}

.btn-login {
  width: 420px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #279eff;
  text-align: center;
}

.btn-login a {
  color: #279eff;
  text-decoration: none;
  list-style-type: none;
}
